{% extends "account/custom_base.html" %}

{% load account %}

{% block title %}
  Reset Password
{% endblock %}

{% block content_main_title %}
  Reset Password
{% endblock %}

{% block content_main_body %}
  {% if user.is_authenticated %}
    <div class="">{% include "account/snippets/already_logged_in.html" %}</div>
  {% endif %}

  <div class="">
    <p class="">
      We've sent you an email to reset your password. If you haven't received it please check your
      spam folder. Contact us at
      <a href="mailto:{{ support_email }}">{{ support_email }}</a> if you don't receive it
      after a few minutes.
    </p>

    <div class="">
      <a href="{% url 'core:home' %}" class="">
        <i class=""></i>
        Back to Home
      </a>
    </div>
  </div>
{% endblock %}
