{% extends "account/custom_base.html" %}

{% block title %}
  Change Password
{% endblock %}

{% block content_main_title %}
  Change Password
{% endblock %}

{% block content_main_body %}
  {% if form.non_field_errors %}
    <div class="">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}

    <div class="">
      <label for="{{ form.oldpassword.id_for_label }}" class="">Current password</label>
      <input
        type="password"
        name="{{ form.oldpassword.name }}"
        id="{{ form.oldpassword.id_for_label }}"
        class=""
        required
      />
      {% if form.oldpassword.errors %}
        <p class="">{{ form.oldpassword.errors.0 }}</p>
      {% endif %}
    </div>

    <div class="">
      <label for="{{ form.password1.id_for_label }}" class="">New password</label>
      <input
        type="password"
        name="{{ form.password1.name }}"
        id="{{ form.password1.id_for_label }}"
        class=""
        required
      />
      {% if form.password1.errors %}
        <p class="">{{ form.password1.errors.0 }}</p>
      {% endif %}
    </div>

    <div class="">
      <label for="{{ form.password2.id_for_label }}" class="">Confirm new password</label>
      <input
        type="password"
        name="{{ form.password2.name }}"
        id="{{ form.password2.id_for_label }}"
        class=""
        required
      />
      {% if form.password2.errors %}
        <p class="">{{ form.password2.errors.0 }}</p>
      {% endif %}
    </div>

    <button type="submit" class="">Change Password</button>
  </form>
{% endblock %}
