{% extends "account/custom_base.html" %}

{% block content_main_title %}
  Change Password
{% endblock %}

{% block title %}
  Change Password
{% endblock %}

{% block content_main_body %}

  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="">
      The password reset link has already been used or has expired.
      <a href="{{ passwd_reset_url }}" class=""> Get a new password reset link </a>.
    </p>
  {% else %}
    {% if form.non_field_errors %}
      <div class="">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}

    <form method="POST" action="{{ action_url }}">
      {% csrf_token %}

      <div class="">
        <label for="{{ form.password1.id_for_label }}" class="">New password</label>
        <input
          type="password"
          name="{{ form.password1.name }}"
          id="{{ form.password1.id_for_label }}"
          class=""
          required
        />
        {% if form.password1.errors %}
          <p class="">{{ form.password1.errors.0 }}</p>
        {% endif %}
      </div>

      <div class="">
        <label for="{{ form.password2.id_for_label }}" class="">Confirm new password</label>
        <input
          type="password"
          name="{{ form.password2.name }}"
          id="{{ form.password2.id_for_label }}"
          class=""
          required
        />
        {% if form.password2.errors %}
          <p class="">{{ form.password2.errors.0 }}</p>
        {% endif %}
      </div>

      <button type="submit" class="">Change Password</button>
    </form>

  {% endif %}
{% endblock %}
