{% extends "account/custom_base.html" %}

{% block title %}
  Email Confirmation Sent
{% endblock %}

{% block content_main_title %}
  Email Confirmation Sent
{% endblock %}

{% block content_main_body %}
  <p>Click the link in the email we sent you to confirm your account.</p>
  <p>
    Check your spam folder if you don't see it in your inbox. We have sent an email to you for
    verification. Follow the link provided to finalize the signup process. Please contact us at
    <a href="mailto:support@domain.com" class="">support@domain.com</a> if you don't receive it in a
    few minutes.
  </p>
{% endblock %}
